@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&family=Poppins:wght@200;300;500;600;700&family=Rubik:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
/* font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Ubuntu', sans-serif; */
}

.desktop{
    background-image: url('./assets/dbackground.png');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;

}


.icon{
    color: #005FC0;
    font-size: 1rem;
    margin-right: 0.8rem;
    margin-top: 1.5rem;
}
.iconf{
    color: #005FC0;
    font-size: 0.9rem;
    margin-right: 0.8rem;
    margin-top: 1.5rem;
}
.MuiInputBase-input{
    height: 40px !important;
    /* border: none !important; */
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: #fff solid 1px;
}
.MuiInputBase-input::placeholder{
    color: #474747;
    font-size: 1rem;

    font-family: 'Montserrat', sans-serif;}
.MuiInputBase-input::placeholder:hover{
    color: #474747;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
} 
.MuiInputBase-input::placeholder:focus{
    color: #474747;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
} 
.MuiInputBase-input::placeholder:active{
    color: #474747;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
}
.MuiInputBase-input:focus{
    border-bottom: #888 solid 1px !important;
}
.MuiInputBase-input:hover{
    border-bottom: #888 solid 1px !important;
}
.MuiInputBase-input:active{
    border-bottom: #888 solid 1px !important;
}   
.MuiInputBase-input:focus + .MuiInputBase-inputUnderline:after{
    border-bottom: #474747 solid 1px;
}
.MuiInputBase-input:hover + .MuiInputBase-inputUnderline:after{
    border-bottom: #474747 solid 1px;
}
.MuiInputBase-input:active + .MuiInputBase-inputUnderline:after{
    border-bottom: #474747 solid 1px;
}
.MuiInputBase-inputUnderline:after{
    border-bottom: #474747 solid 1px;
}
.MuiInputBase-inputUnderline:after{
    border-bottom: #474747 solid 1px;
}
.loader {
    position: relative;
  }
  
  .outer,
  .middle,
  .inner {
    border: 3px solid transparent;
    border-top-color: #fff;
    border-right-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .outer {
    width: 3.5em;
    height: 3.5em;
    margin-left: -1.75em;
    margin-top: -1.75em;
    animation: spin 2s linear infinite;
  }
  
  .middle {
    width: 2.1em;
    height: 2.1em;
    margin-left: -1.05em;
    margin-top: -1.05em;
    animation: spin 1.75s linear reverse infinite;
  }
  
  .inner {
    width: 0.8em;
    height: 0.8em;
    margin-left: -0.4em;
    margin-top: -0.4em;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .MuiInputBase-input::placeholder{
    color: #474747;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif; 
    margin-bottom: -0.5rem;
    padding-bottom: 0;
  }
  a{
    text-decoration: none;
    color: #005FC0;
  }
    a:hover{
        text-decoration: none;
        color: #005FC0;
    }
 
  